:root{
    --color-text: #fff;
    --color-text-black: #212121;
    --background-complete: #158515;
    --background-warning: #ffff58;
    --background-danger: #a32727;
    --alert-background-container: rgb(0 0 0 / 63%);
    --time-transition: all 0.3s ease;
    --background: #333333;
    --background-container: #212121;
    --background-container-dark: #1d1d1d;
    --color-primary: #fff;
    --color-secondary: #dadada;
    --color-icon-form: #565656;
    --border-color: #3373ef;
}

/* Alert config */
.alert-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--alert-background-container);
    transition: var(--time-transition);
}

.alert-container.hide{
    opacity: 0;
    pointer-events: none;
}

.alert-container .alert{
    padding: 10px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 20px;
    right: 20px;
    transition: var(--time-transition);
}

.alert.hide{
    display: none;
}

.alert.complete{
    background-color: var(--background-complete);
    color: var(--color-text);
}

svg.complete.hide{
    display: none;
}

.alert.warning{
    background-color: var(--background-warning);
    color: var(--color-text-black);
}

svg.warning.hide{
    display: none;
}

.alert.danger{
    background-color: var(--background-danger);
    color: var(--color-text);
}

svg.danger.hide{
    display: none;
}

/* Modal config */
.modal-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--alert-background-container);
    transition: var(--time-transition);
    z-index: 50;
}

.modal-container.hide{
    opacity: 0;
    pointer-events: none;
}

.modal{
    width: 300px;
    padding: 20px;
    border-radius: 7px;
    background-color: var(--background-container-dark);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--color-text);
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: var(--time-transition);
}

.modal.hide{
    display: none;
}

.modal .modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.modal-header .modal-title{
    font-size: 20px;
    color: var(--color-primary);
}

.modal-header .close-modal{
    cursor: pointer;
    color: var(--background-danger);
}

.modal .modal-body{
    margin-top: 20px;
}

.modal-body .modal-text{
    font-size: 16px;
    color: var(--color-secondary);
}

.modal .modal-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}