<%- include('../headers/header_admin') %>
<article class="container">
    <article class="card-container">
        <article class="card">
            <section class="card-header">
                <h1 class="card-title">Te damos la bienvenida. 👋</h1>
            </section>
            <section class="card-body">
                <div class="form-control">
                    <label for="user">
                        <svg width="40"  height="40"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-user"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z" /><path d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z" /></svg>
                    </label>
                    <input id="user" type="text">
                </div>
            </section>
        </article>
    </article>
</article>
<%- include('../footers/footer_admin') %>