<%- include('../headers/header_dashboard.ejs') %>

<section class="main">

    <%- include('../components/panel.ejs') %>

    <div class="container">
        hola
    </div>

</article>

<%- include('../components/alerts') %>
<%- include('../footers/footer_dashboard.ejs') %>